<div id="winner">&nbsp;</div>
<table>
  <%= form_tag games_take_turn_path, {:remote => true, :id => "ttt_form"} do %>
    <% @game.board.each_with_index do |p, i| %>
      <% if (i % 3).zero? %>
        <tr>
      <% end %>
      <td class="<%= 'border-right' unless (last_column = ((i + 1) % 3).zero?) %>  <%= 'border-bottom' unless i/3 >= 2 %>">
        <div id="grid_<%= i %>" class="square"></div>
        <%= hidden_field_tag "grid_#{i}", p %>
      </td>
      <% if last_column %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
